<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>FREEDOM АВАРИИ</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        </head>

        <body>
            <header class="header">
            </header>
            <div class="topnav" id="myTopnav">
                <a href="/" class="active">Главная</a>
                <div class="dropdown">
                    <button class="dropbtn">Обновить списки
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/devices/reload">Оборудование</a>
                        <a href="/nodes/reload">Узлы сети</a>
                        <a href="/alarm_types/reload">Типы аварий</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Древо
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/tree/build">Обновить заголовки</a>
                        <a href="#">Обновить структуру</a>
                    </div>
                </div>
            </div>
        </body>
    </html>